<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
  <h2>NASA Picture of the Day</h2>

  <% if (apod) { %>
    <h3><%= apod.title %></h3>
    <p class="apod-date"><%= apod.date %></p>

    <p class="apod-explanation"><%= apod.explanation %></p>

    <% if (apod.media_type === "image") { %>
      <img class="apod-image" src="<%= apod.url %>" alt="<%= apod.title %>">
    <% } else { %>
      <p>This APOD is a <%= apod.media_type %>. View it here:</p>
      <a href="<%= apod.url %>" target="_blank">View APOD</a>
    <% } %>

    

    <% if (apod.copyright) { %>
      <p class="apod-copyright">© <%= apod.copyright %></p>
    <% } %>
  <% } else { %>
    <p>NASA Picture of the Day is unavailable.</p>
  <% } %>

    <%- include('partials/footer.ejs') %>
</body>
</html>
