<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
 <main class="page-content">
    <%- include('partials/nav.ejs') %>
    <h2>Planet Saturn</h2>
    <%=   planetSaturn.description  %> </br>
    <img class="planet-img" src="<%=   planetSaturn.image  %>">
	<h2>Distance From Sun</h2>
    <%=   planetSaturn.distanceFromSun  %>
	<h2>Length of One Year</h2>
    <%=   planetSaturn.yearLength  %>
	<h2>Radius</h2>
    <%=   planetSaturn.radius  %>
	<h2>One Earth Day</h2>
    <%=   planetSaturn.oneEarthDay  %>
	<h2>Amount of Moons</h2>
    <%=   planetSaturn.moons  %>
	<h2>Website Link</h2>
    <%=   planetSaturn.websiteLink %>
</main>
    <%- include('partials/footer.ejs') %>
</body>
</html>