<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
 <main class="page-content">
    <%- include('partials/nav.ejs') %>
    <h2>Planet Venus</h2>
    <%=   planetVenus.description  %>
    <img class="planet-img" src="<%=   planetVenus.image  %>">
	<h2>Distance From Sun</h2>
    <%=   planetVenus.distanceFromSun  %>
	<h2>Length of One Year</h2>
    <%=   planetVenus.yearLength  %>
	<h2>Radius</h2>
    <%=   planetVenus.radius  %>
	<h2>One Earth Day</h2>
    <%=   planetVenus.oneEarthDay  %>
	<h2>Amount of Moons</h2>
    <%=   planetVenus.moons  %>
	<h2>Website Link</h2>
    <%=   planetVenus.websiteLink %>
 </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>